
# Ignore everything
*

# But not these files...
!.gitignore
!README.md

# ...even if they are in subdirectories:
!*/

# If the files tracked are in subdirectories
#!*/a/b/file.txt

# FirstNode
!*/src/FirstNode/*
!*/src/FirstNode/src/*

# franka_ros Hafidh Controller
!*/src/franka_ros/hafidh_control/*
!*/src/franka_ros/hafidh_control/src/*





